# CROSS-TABULATION ON `h1n1_vaccine_prediction`

###### - Importing Pandas Library

In [1]:
import pandas as pd

###### - Reading csv File

In [2]:
v = pd.read_csv("h1n1_vaccine_prediction.csv")
v

,unique_id,h1n1_worry,h1n1_awareness,antiviral_medication,contact_avoidance,bought_face_mask,wash_hands_frequently,avoid_large_gatherings,reduced_outside_home_cont,avoid_touch_face,...,race,sex,income_level,marital_status,housing_status,employment,census_msa,no_of_adults,no_of_children,h1n1_vaccine
0,0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,...,White,Female,Below Poverty,Not Married,Own,Not in Labor Force,Non-MSA,0.0,0.0,0
1,1,3.0,2.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,...,White,Male,Below Poverty,Not Married,Rent,Employed,"MSA, Not Principle City",0.0,0.0,0
2,2,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,White,Male,"<= $75,000, Above Poverty",Not Married,Own,Employed,"MSA, Not Principle City",2.0,0.0,0
3,3,1.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,...,White,Female,Below Poverty,Not Married,Rent,Not in Labor Force,"MSA, Principle City",0.0,0.0,0
4,4,2.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,...,White,Female,"<= $75,000, Above Poverty",Married,Own,Employed,"MSA, Not Principle City",1.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26702,26702,2.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,...,White,Female,"<= $75,000, Above Poverty",Not Married,Own,Not in Labor Force,Non-MSA,0.0,0.0,0
26703,26703,1.0,2.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,...,White,Male,"<= $75,000, Above Poverty",Not Married,Rent,Employed,"MSA, Principle City",1.0,0.0,0
26704,26704,2.0,2.0,0.0,1.0,1.0,1.0,1.0,0.0,1.0,...,White,Female,NaN,Not Married,Own,NaN,"MSA, Not Principle City",0.0,0.0,0
26705,26705,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,...,Hispanic,Female,"<= $75,000, Above Poverty",Married,Rent,Employed,Non-MSA,1.0,0.0,0
26706,26706,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,White,Male,"<= $75,000, Above Poverty",Married,Own,Not in Labor Force,"MSA, Principle City",1.0,0.0,0

In [3]:
v.shape

(26707, 34)

### CROSS TABULATION

In [4]:
pd.crosstab(v.income_level,v.h1n1_vaccine)

h1n1_vaccine                   0     1
income_level
<= $75,000, Above Poverty  10178  2599
> $75,000                   5087  1723
Below Poverty               2181   516

In [5]:
print(10178/(10178+2599)*100,"% of people has not taken a vaccine whose income level is Above Poverty")
print(2599/(10178+2599)*100, "% of people has taken a vaccine whose income level is Above Poverty","\n"," ")

print(5087/(5087+1723)*100,"% of people has not taken a vaccine whose income level is greater than 75,000 $")
print(1723/(1723+5087)*100, "% of people has taken a vaccine whose income level is greater than 75,000 $","\n"," ")

print(5087/(5087+1723)*100,"% of people has not taken a vaccine whose income level is Below Poverty")
print(1723/(1723+5087)*100, "% of people has taken a vaccine whose income level is Below Poverty","\n"," ")

79.65876183767708 % of people has not taken a vaccine whose income level is Above Poverty
20.341238162322924 % of people has taken a vaccine whose income level is Above Poverty

74.69897209985315 % of people has not taken a vaccine whose income level is greater than 75,000 $
25.301027900146845 % of people has taken a vaccine whose income level is greater than 75,000 $

74.69897209985315 % of people has not taken a vaccine whose income level is Below Poverty
25.301027900146845 % of people has taken a vaccine whose income level is Below Poverty

In [6]:
pd.crosstab(v.marital_status,v.h1n1_vaccine)

h1n1_vaccine        0     1
marital_status
Married         10387  3168
Not Married      9494  2250

In [7]:
print(10387/(10387+3168)*100,"% of peoples are married who has not taken a vaccine")
print(3168/(10387+3168)*100, "% of peoples are married who has taken a vaccine","\n"," ")

print(9494/(9494+2250)*100,"% of peoples are not married who has not taken a vaccine")
print(2250/(9494+2250)*100, "% of peoples are not married who has taken a vaccine","\n"," ")

76.62855035042419 % of peoples are married who has not taken a vaccine
23.3714496495758 % of peoples are married who has taken a vaccine

80.84128065395095 % of peoples are not married who has not taken a vaccine
19.158719346049047 % of peoples are not married who has taken a vaccine

In [8]:
pd.crosstab(v.sex,v.h1n1_vaccine)

h1n1_vaccine      0     1
sex
Female        12378  3480
Male           8655  2194

In [9]:
print(12378/(12378+3480)*100,"% of females has not taken a vaccine")
print(3480/(12378+3480)*100,"% of females has taken a vaccine","\n"," ")

print(8655/(8655+2194)*100,"% of males has not taken a vaccine")
print(2194/(8655+2194)*100,"% of males has taken a vaccine","\n"," ")

78.05524025728339 % of females has not taken a vaccine
21.94475974271661 % of females has taken a vaccine

79.77693796663287 % of males has not taken a vaccine
20.223062033367132 % of males has taken a vaccine

###### - Cross-Tabulation on all columns

In [10]:
x = v.iloc[:,1:-1]
y = v.iloc[:,-1]
col = x.select_dtypes(include = 'object').columns

for i in col:
    print("Cross Tabulation on ",i,"& h1n1_vaccine")
    print("")
    print(pd.crosstab(x[i],y))
    print("")

Cross Tabulation on  age_bracket & h1n1_vaccine

h1n1_vaccine      0     1
age_bracket
18 - 34 Years  4224   991
35 - 44 Years  3087   761
45 - 54 Years  4218  1020
55 - 64 Years  4212  1351
65+ Years      5292  1551

Cross Tabulation on  qualification & h1n1_vaccine

h1n1_vaccine         0     1
qualification
12 Years          4726  1071
< 12 Years        1968   395
College Graduate  7614  2483
Some College      5579  1464

Cross Tabulation on  race & h1n1_vaccine

h1n1_vaccine           0     1
race
Black               1803   315
Hispanic            1390   365
Other or Multiple   1263   349
White              16577  4645

Cross Tabulation on  sex & h1n1_vaccine

h1n1_vaccine      0     1
sex
Female        12378  3480
Male           8655  2194

Cross Tabulation on  income_level & h1n1_vaccine

h1n1_vaccine                   0     1
income_level
<= $75,000, Above Poverty  10178  2599
> $75,000                   5087  1723
Below Poverty               2181   516

Cross Tabulation on  marital_status & h1n1_vaccine

h1n1_vaccine        0     1
marital_status
Married         10387  3168
Not Married      9494  2250

Cross Tabulation on  housing_status & h1n1_vaccine

h1n1_vaccine        0     1
housing_status
Own             14577  4159
Rent             4810  1119

Cross Tabulation on  employment & h1n1_vaccine

h1n1_vaccine            0     1
employment
Employed            10637  2923
Not in Labor Force   7988  2243
Unemployed           1216   237

Cross Tabulation on  census_msa & h1n1_vaccine

h1n1_vaccine                 0     1
census_msa
MSA, Not Principle  City  9178  2467
MSA, Principle City       6183  1681
Non-MSA                   5672  1526