# CROSS TABULATION ON  `Churn` DATA

###### - Importing pandas Library

In [1]:
import pandas as pd

###### - Reading .csv file

In [2]:
c = pd.read_csv("Churn.csv")
c.head(6)

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes
5,9305-CDSKC,Female,0,No,No,8,Yes,Yes,Fiber optic,No,...,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,99.65,820.5,Yes

### CROSS TABULATION

In [3]:
pd.crosstab(c.gender,c.Churn) #Whether the customer churned or not

Churn     No  Yes
gender
Female  2549  939
Male    2625  930

In [4]:
print(2549 / (2549+939)*100,"% of Female customer does not churned for a subscription","\n",
      939 / (2549+939)*100,"% of Female customer churned for subscription","\n",
      2625/ (2625+930)*100,"% of Male customer does not churned for a subcription","\n",
      930/ (2625+930)*100, "% of Male customer churned for a subcription")

73.07912844036697 % of Female customer does not churned for a subscription
 26.920871559633024 % of Female customer churned for subscription
 73.83966244725738 % of Male customer does not churned for a subcription
 26.160337552742618 % of Male customer churned for a subcription

In [5]:
pd.crosstab(c.Partner,c.Churn) # Whether the customer has a partner or not

Churn      No   Yes
Partner
No       2441  1200
Yes      2733   669

In [6]:
print("",2441 / (2441+1200)*100, "% of customer has no Partner and who has not churn for subscription","\n",
      1200 / (2441+1200)*100, "% of customer has no Partner and who has churn for subscription","\n",
     2733 / (2733+669)*100, "% of customer has Partner and who has not churn for subscription","\n",
     2733 / (2733+669)*100, "% of customer has Partner and who has churn for subscription")

 67.04202142268608 % of customer has no Partner and who has not churn for subscription
 32.95797857731392 % of customer has no Partner and who has churn for subscription
 80.33509700176367 % of customer has Partner and who has not churn for subscription
 80.33509700176367 % of customer has Partner and who has churn for subscription

In [7]:
pd.crosstab(c.Contract,c.Churn) # contract term of the customer

Churn             No   Yes
Contract
Month-to-month  2220  1655
One year        1307   166
Two year        1647    48

In [8]:
print("",2220 / (2220+1655)*100, "% of customer has Month-to-month contract, who has not churn for subscription","\n",
      1655 / (2220+1655)*100, "% of customer has Month-to-month contract, who has churn for subscription","\n",
     1307 / (1307+166)*100, "% of customer has One year contract, who has not churn for subscription","\n",
     166 / (1307+166)*100, "% of customer has One year contract, who has churn for subscription","\n",
     1647 / (1647+48)*100, "% of customer has Two year, who has not churn for subscription","\n",
     48 / (1647+166)*100, "% of customer has Two year, who has churn for subscription")

 57.29032258064516 % of customer has Month-to-month contract, who has not churn for subscription
 42.70967741935484 % of customer has Month-to-month contract, who has churn for subscription
 88.73048200950441 % of customer has One year contract, who has not churn for subscription
 11.269517990495586 % of customer has One year contract, who has churn for subscription
 97.16814159292035 % of customer has Two year, who has not churn for subscription
 2.647545504688362 % of customer has Two year, who has churn for subscription

In [9]:
pd.crosstab(c.InternetService,c.Churn)

Churn              No   Yes
InternetService
DSL              1962   459
Fiber optic      1799  1297
No               1413   113

In [12]:
print("",1962 / (1962+459)*100, "% of customer has DSL InternetService, who has not churn for subscription","\n",
      459 / (1962+459)*100, "% of customer has DSL InternetService, who has churn for subscription","\n",
      
     1799 / (1799+1297)*100, "% of customer has Fiber optic InternetService, who has not churn for subscription","\n",
     1297 / (1799+1297)*100, "% of customer has Fiber optic InternetService, who has churn for subscription","\n",
      
     1413 / (1413+113)*100, "% of customer has NO InternetService, who has not churn for subscription","\n",
     113 / (1413+113)*100, "% of customer has NO InternetService, who has churn for subscription")

 81.04089219330855 % of customer has DSL InternetService, who has not churn for subscription
 18.95910780669145 % of customer has DSL InternetService, who has churn for subscription
 58.10723514211886 % of customer has Fiber optic InternetService, who has not churn for subscription
 41.89276485788114 % of customer has Fiber optic InternetService, who has churn for subscription
 92.59501965923984 % of customer has NO InternetService, who has not churn for subscription
 7.404980340760157 % of customer has NO InternetService, who has churn for subscription

In [14]:
c.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

### CROSS TABULATION ON ALL ALL THE CATEGORICAL COLUMNS

In [27]:
x = c.iloc[:,1:-1]
y = c.iloc[:,-1]
col = x.select_dtypes(include = 'object').columns
for i in col:
    print("CROSS TABULATION ON ",i,"AND 'Churn' ")
    print("    ")
    print(pd.crosstab(x[i],c['Churn']))
    print("   ")
    print( "  ")

CROSS TABULATION ON  gender AND 'Churn'

Churn     No  Yes
gender
Female  2549  939
Male    2625  930


CROSS TABULATION ON  Partner AND 'Churn'

Churn      No   Yes
Partner
No       2441  1200
Yes      2733   669


CROSS TABULATION ON  Dependents AND 'Churn'

Churn         No   Yes
Dependents
No          3390  1543
Yes         1784   326


CROSS TABULATION ON  PhoneService AND 'Churn'

Churn           No   Yes
PhoneService
No             512   170
Yes           4662  1699


CROSS TABULATION ON  MultipleLines AND 'Churn'

Churn               No  Yes
MultipleLines
No                2541  849
No phone service   512  170
Yes               2121  850


CROSS TABULATION ON  InternetService AND 'Churn'

Churn              No   Yes
InternetService
DSL              1962   459
Fiber optic      1799  1297
No               1413   113


CROSS TABULATION ON  OnlineSecurity AND 'Churn'

Churn                  No   Yes
OnlineSecurity
No                   2037  1461
No internet service  1413   113
Yes                  1724   295


CROSS TABULATION ON  OnlineBackup AND 'Churn'

Churn                  No   Yes
OnlineBackup
No                   1855  1233
No internet service  1413   113
Yes                  1906   523


CROSS TABULATION ON  DeviceProtection AND 'Churn'

Churn                  No   Yes
DeviceProtection
No                   1884  1211
No internet service  1413   113
Yes                  1877   545


CROSS TABULATION ON  TechSupport AND 'Churn'

Churn                  No   Yes
TechSupport
No                   2027  1446
No internet service  1413   113
Yes                  1734   310


CROSS TABULATION ON  StreamingTV AND 'Churn'

Churn                  No  Yes
StreamingTV
No                   1868  942
No internet service  1413  113
Yes                  1893  814


CROSS TABULATION ON  StreamingMovies AND 'Churn'

Churn                  No  Yes
StreamingMovies
No                   1847  938
No internet service  1413  113
Yes                  1914  818


CROSS TABULATION ON  Contract AND 'Churn'

Churn             No   Yes
Contract
Month-to-month  2220  1655
One year        1307   166
Two year        1647    48


CROSS TABULATION ON  PaperlessBilling AND 'Churn'

Churn               No   Yes
PaperlessBilling
No                2403   469
Yes               2771  1400


CROSS TABULATION ON  PaymentMethod AND 'Churn'

Churn                        No   Yes
PaymentMethod
Bank transfer (automatic)  1286   258
Credit card (automatic)    1290   232
Electronic check           1294  1071
Mailed check               1304   308


CROSS TABULATION ON  TotalCharges AND 'Churn'

Churn         No  Yes
TotalCharges
              11    0
100.2          1    0
100.25         0    1
100.35         1    0
100.4          0    1
...           ..  ...
997.75         1    0
998.1          1    0
999.45         0    1
999.8          1    0
999.9          1    0

[6531 rows x 2 columns]