# CHI-SQUARE TEST

###### - Importing Pandas Library

In [1]:
import pandas as pd

###### - Reading the .csv file

In [3]:
c = pd.read_csv(Churn.csv")
c.head(6)

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes
5,9305-CDSKC,Female,0,No,No,8,Yes,Yes,Fiber optic,No,...,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,99.65,820.5,Yes

# FILLING OF NULL VALUES

In [5]:
c.isnull().sum()

customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

###### - As there is no any null value in dataset

# REMOVING OF UNWANTED COLUMNS

In [6]:
 c = c.drop('customerID', axis = 1)

# CONVERSION OF NON-NUMERIC VALUES TO NUMERIC

In [7]:
c.InternetService.value_counts()  # PaymentMethod,Contract,InternetService

Fiber optic    3096
DSL            2421
No             1526
Name: InternetService, dtype: int64

In [8]:
c.replace({'PaymentMethod': {"Electronic check":3,"Mailed check":4,"Bank transfer (automatic)":1,"Credit card (automatic)":2},
            'Contract':{"Month-to-month":3,"Two year": 1,"One year": 2},
            'InternetService':{"Fiber optic":1,"DSL":2,"No":0}}, inplace = True)
c.head()

# conversion of non-numeric column to numeric for an ordinal data

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,Female,0,Yes,No,1,No,No phone service,2,No,Yes,No,No,No,No,3,Yes,3,29.85,29.85,No
1,Male,0,No,No,34,Yes,No,2,Yes,No,Yes,No,No,No,2,No,4,56.95,1889.5,No
2,Male,0,No,No,2,Yes,No,2,Yes,Yes,No,No,No,No,3,Yes,4,53.85,108.15,Yes
3,Male,0,No,No,45,No,No phone service,2,Yes,No,Yes,Yes,No,No,2,No,1,42.30,1840.75,No
4,Female,0,No,No,2,Yes,No,1,No,No,No,No,No,No,3,Yes,3,70.70,151.65,Yes

In [9]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [10]:
c[c.select_dtypes(include = 'object').columns]

,gender,Partner,Dependents,PhoneService,MultipleLines,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,PaperlessBilling,TotalCharges,Churn
0,Female,Yes,No,No,No phone service,No,Yes,No,No,No,No,Yes,29.85,No
1,Male,No,No,Yes,No,Yes,No,Yes,No,No,No,No,1889.5,No
2,Male,No,No,Yes,No,Yes,Yes,No,No,No,No,Yes,108.15,Yes
3,Male,No,No,No,No phone service,Yes,No,Yes,Yes,No,No,No,1840.75,No
4,Female,No,No,Yes,No,No,No,No,No,No,No,Yes,151.65,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,Male,Yes,Yes,Yes,Yes,Yes,No,Yes,Yes,Yes,Yes,Yes,1990.5,No
7039,Female,Yes,Yes,Yes,Yes,No,Yes,Yes,No,Yes,Yes,Yes,7362.9,No
7040,Female,Yes,Yes,No,No phone service,Yes,No,No,No,No,No,Yes,346.45,No
7041,Male,Yes,No,Yes,Yes,No,No,No,No,No,No,Yes,306.6,Yes
7042,Male,No,No,Yes,No,Yes,No,Yes,Yes,Yes,Yes,Yes,6844.5,No

In [11]:
c[c.select_dtypes(include = 'object').columns] = c[c.select_dtypes(include = 'object').columns].apply(le.fit_transform)

In [12]:
c.head()

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,0,0,1,0,1,0,1,2,0,2,0,0,0,0,3,1,3,29.85,2505,0
1,1,0,0,0,34,1,0,2,2,0,2,0,0,0,2,0,4,56.95,1466,0
2,1,0,0,0,2,1,0,2,2,2,0,0,0,0,3,1,4,53.85,157,1
3,1,0,0,0,45,0,1,2,2,0,2,2,0,0,2,0,1,42.30,1400,0
4,0,0,0,0,2,1,0,1,0,0,0,0,0,0,3,1,3,70.70,925,1

# CHI SQUARE TEST

In [15]:
y = c.drop(columns = "Churn", axis = 1)
y

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges
0,0,0,1,0,1,0,1,2,0,2,0,0,0,0,3,1,3,29.85,2505
1,1,0,0,0,34,1,0,2,2,0,2,0,0,0,2,0,4,56.95,1466
2,1,0,0,0,2,1,0,2,2,2,0,0,0,0,3,1,4,53.85,157
3,1,0,0,0,45,0,1,2,2,0,2,2,0,0,2,0,1,42.30,1400
4,0,0,0,0,2,1,0,1,0,0,0,0,0,0,3,1,3,70.70,925
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,1,0,1,1,24,1,2,2,2,0,2,2,2,2,2,1,4,84.80,1597
7039,0,0,1,1,72,1,2,1,0,2,2,0,2,2,2,1,2,103.20,5698
7040,0,0,1,1,11,0,1,2,2,0,0,0,0,0,3,1,3,29.60,2994
7041,1,1,1,0,4,1,2,1,0,0,0,0,0,0,3,1,4,74.40,2660
7042,1,0,0,0,66,1,0,1,2,0,2,2,2,2,1,1,1,105.65,5407

In [16]:
z = []
y = c.drop(columns = "Churn", axis = 1)
for i in y:
    from scipy.stats import chi2_contingency as chi2_c
    tab = pd.crosstab(y[i], c["Churn"])
    z.append(chi2_c(tab)[1])
z

[0.48657873605618596,
 1.510066805092378e-36,
 2.1399113440759935e-36,
 4.9249216612154196e-43,
 1.2807811055496877e-176,
 0.3387825358066928,
 0.0034643829548773,
 9.571788222840544e-160,
 2.661149635176552e-185,
 2.0797592160864276e-131,
 5.505219496457244e-122,
 1.4430840279998987e-180,
 5.528994485739183e-82,
 2.667756755723681e-82,
 5.863038300673391e-258,
 4.073354668665985e-58,
 3.6823546520097993e-140,
 1.8852727784255517e-18,
 0.5532461954861401]

###### CREATED THE DATAFRAME OF COLUMNS NAME AND THE CHI-SQ TEST P-VALUE

In [17]:
a = pd.DataFrame({"Columns_name":list(y.columns),"CHI_sq_test":z})
a.sort_values(by = "CHI_sq_test",ascending = True)

        Columns_name    CHI_sq_test
14          Contract  5.863038e-258
8     OnlineSecurity  2.661150e-185
11       TechSupport  1.443084e-180
4             tenure  1.280781e-176
7    InternetService  9.571788e-160
16     PaymentMethod  3.682355e-140
9       OnlineBackup  2.079759e-131
10  DeviceProtection  5.505219e-122
13   StreamingMovies   2.667757e-82
12       StreamingTV   5.528994e-82
15  PaperlessBilling   4.073355e-58
3         Dependents   4.924922e-43
1      SeniorCitizen   1.510067e-36
2            Partner   2.139911e-36
17    MonthlyCharges   1.885273e-18
6      MultipleLines   3.464383e-03
5       PhoneService   3.387825e-01
0             gender   4.865787e-01
18      TotalCharges   5.532462e-01

In [18]:
len(z),len(list(y.columns))

(19, 19)